[submodule "impl-stable"]
	path = impl-stable
	url = https://bitbucket.org/okuoku/yunibase-impl-stable.git
[submodule "impl-current/gauche"]
	path = impl-current/gauche
	url = https://github.com/shirok/Gauche
[submodule "impl-current/chibi-scheme"]
	path = impl-current/chibi-scheme
	url = https://github.com/ashinn/chibi-scheme/
[submodule "impl-current/racket"]
	path = impl-current/racket
	url = https://github.com/racket/racket
[submodule "impl-current/chicken"]
	path = impl-current/chicken
	url = https://github.com/spurious/chicken-core-mirror.git
[submodule "impl-current/vicare"]
	path = impl-current/vicare
	url = https://github.com/marcomaggi/vicare
[submodule "impl-current/guile"]
	path = impl-current/guile
	url = git://git.savannah.gnu.org/guile.git
[submodule "impl-current/sagittarius"]
	path = impl-current/sagittarius
	url = https://github.com/ktakashi/sagittarius-scheme
[submodule "impl-current/kawa"]
	path = impl-current/kawa
	url = https://gitlab.com/kashell/Kawa.git
[submodule "impl-current/larceny"]
	path = impl-current/larceny
	url = https://github.com/larcenists/larceny
[submodule "impl-current/chez"]
	path = impl-current/chez
	url = https://github.com/cisco/ChezScheme
[submodule "impl-current/rapid-gambit"]
	path = impl-current/rapid-gambit
	url = https://github.com/okuoku/rapid-gambit
[submodule "impl-current/picrin"]
	path = impl-current/picrin
	url = https://github.com/picrin-scheme/picrin
[submodule "yuni"]
	path = yuni
	url = https://github.com/okuoku/yuni
[submodule "impl-current/mit-scheme"]
	path = impl-current/mit-scheme
	url = git://git.savannah.gnu.org/mit-scheme.git
[submodule "impl-current/gambit"]
	path = impl-current/gambit
	url = https://github.com/gambit/gambit.git
[submodule "impl-current/racket-pkgs/scheme-lib"]
	path = impl-current/racket-pkgs/scheme-lib
	url = https://github.com/racket/scheme-lib
[submodule "impl-current/racket-pkgs/errortrace"]
	path = impl-current/racket-pkgs/errortrace
	url = https://github.com/racket/errortrace
[submodule "impl-current/racket-pkgs/sandbox-lib"]
	path = impl-current/racket-pkgs/sandbox-lib
	url = https://github.com/racket/sandbox-lib
[submodule "impl-current/racket-pkgs/compatibility"]
	path = impl-current/racket-pkgs/compatibility
	url = https://github.com/racket/compatibility
[submodule "impl-current/racket-pkgs/r5rs"]
	path = impl-current/racket-pkgs/r5rs
	url = https://github.com/racket/r5rs
[submodule "impl-current/racket-pkgs/r6rs"]
	path = impl-current/racket-pkgs/r6rs
	url = https://github.com/racket/r6rs
[submodule "impl-current/racket-pkgs/srfi"]
	path = impl-current/racket-pkgs/srfi
	url = https://github.com/racket/srfi
[submodule "impl-current/racket-pkgs/typed-racket"]
	path = impl-current/racket-pkgs/typed-racket
	url = https://github.com/racket/typed-racket
[submodule "impl-current/chicken-eggs/chicken-r7rs"]
	path = impl-current/chicken-eggs/chicken-r7rs
	url = https://github.com/spurious/chicken-r7rs-mirror.git
[submodule "impl-current/chicken-eggs/chicken-r7rs-deps"]
	path = impl-current/chicken-eggs/chicken-r7rs-deps
	url = https://bitbucket.org/okuoku/chicken-r7rs-deps
[submodule "impl-current/chicken5"]
	path = impl-current/chicken5
	url = https://github.com/spurious/chicken-core-mirror.git
[submodule "impl-current/chicken5-eggs/chicken-r7rs"]
	path = impl-current/chicken5-eggs/chicken-r7rs
	url = https://github.com/spurious/chicken-r7rs-mirror.git
[submodule "impl-current/snd"]
	path = impl-current/snd
	url = https://github.com/spurious/snd-mirror.git
[submodule "impl-current/chicken5-eggs/srfi-1"]
	path = impl-current/chicken5-eggs/srfi-1
	url = https://github.com/spurious/chicken5-srfi-1-mirror.git
[submodule "impl-current/chicken5-eggs/srfi-13"]
	path = impl-current/chicken5-eggs/srfi-13
	url = https://github.com/spurious/chicken5-srfi-13-mirror.git
[submodule "impl-current/chicken5-eggs/srfi-14"]
	path = impl-current/chicken5-eggs/srfi-14
	url = https://github.com/spurious/chicken5-srfi-14-mirror.git
[submodule "impl-current/chicken5-eggs/matchable"]
	path = impl-current/chicken5-eggs/matchable
	url = https://github.com/spurious/chicken5-matchable-mirror.git
[submodule "impl-current/chicken5-eggs/srfi-69"]
	path = impl-current/chicken5-eggs/srfi-69
	url = https://github.com/spurious/chicken5-srfi-69-mirror.git
[submodule "impl-current/guile3"]
	path = impl-current/guile3
	url = git://git.savannah.gnu.org/guile.git
[submodule "impl-current/cyclone"]
	path = impl-current/cyclone
	url = https://github.com/justinethier/cyclone
[submodule "impl-current/stklos"]
	path = impl-current/stklos
	url = https://github.com/egallesio/STklos
[submodule "impl-current/digamma"]
	path = impl-current/digamma
	url = https://github.com/fujita-y/digamma
